@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 7%;
  --foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222 47% 11%;
  --muted: 217 33% 17%;
  --muted-foreground: 215 20% 65%;
  --border: 217 33% 25%;
  --input: 217 33% 20%;
  --ring: 212 100% 65%;
}

body {
  @apply bg-background text-foreground antialiased;
}
